.container {
  background-color: #fff;
  padding: 25px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  min-height: 250px;
}

.row {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
  justify-content: space-between;
}

.h2 {
  font-family: 'Nunit', sans-serif;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.textContainer {
  margin-bottom: 25px
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
  padding-top: 15px;
}

.green {
  color: #00C792;
}

.grey {
  color: #666;
}