.header {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 3fr 1fr;
  column-gap: 15px;
  padding-block-end: 25px;
  background-color: #F5F8FB;
}

.form {
  display: flex;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
  border-radius: 10px;
}

.button {
  background-color: #fff;
  border: none;
  padding: 15px
}

input[type="search"] {
  flex: 1;
  background-color: #fff;
  color: #666;
  border: none;
}

.rightPart {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.mr15 {
  margin-right: 15px;
}