.form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 50px;
  justify-content: center;
}

.form > .inputBox > fieldset > legend {
  margin-left: 10px;
}

.form > .inputBox > fieldset > input:focus {
  outline: none;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox > p {
  margin-bottom: 10px;
}

.form > p > a {
  color: #0066F1
}