.form {
  display: flex;
  flex-direction: column;
  row-gap: 25px;
  padding: 50px;
  justify-content: center;
}

.form > .inputBox > fieldset {
  border-radius: 10px;
  border: 2px solid #F5F8FB;
  margin: 0;
  padding: 0;
}

.form > .inputBox > fieldset > legend {
  margin-left: 10px;
}

.form > .inputBox > fieldset > input {
  width: 100%;
  background-color: #fff;
  border: none;
  padding: 15px;
  border-radius: 10px;
}

.form > .inputBox > fieldset > input:focus {
  outline: none;
}

.inputBox {
  display: flex;
  flex-direction: column;
}

.inputBox > p {
  margin-bottom: 10px;
}

.form > p > a {
  color: #0066F1
}